@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --red: hsl(10, 79%, 65%);
  --cyan: hsl(186, 34%, 60%);

  --brown200: hsl(25, 47%, 15%);
  --brown100: hsl(28, 10%, 53%);
  --cream: hsl(27, 66%, 92%);
  --orange: hsl(33, 100%, 98%);
}

html {
  font-size: 62.5%;
}

body {
  height: 100vh;
  font-family: 'DM Sans', sans-serif;
  font-size: 1.8rem;
  background-color: var(--cream);
}